<!DOCTYPE html>
<html lang="en">
<head>
  <title>Estudios Formales</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Estudios Formales</h2>
           
  <table class="table table-hover" align='center'>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Anhio</th>
        <th>Area</th>
         <th>Tesis</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Licenciatura</td>
	<td>1999</td>
        <td>Quimica</td>
         <td>Efectos corrosivos del X sobre metales alcainos</td>
      </tr>
      <tr>
        <td>TSU</td>
	<td>2004</td>
        <td>Informatica</td>
         <td>Obtención de un consorcio microbiano granular para la biodegradación de fenol en un reactor discontinuo 
		de alimentación secuenciada </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
