

        <div class="tab-pane " id="carreras" role="tabpanel">
          <table class="table contenidoFicha" id="tabla_datos_laborales">
            <br>
            <tbody>
              <tr style="color: White;">
                <th><b>Título</b></th>
                <th><b>Universidad</b></th>
              </tr>
              {{for c in carrera_list:}}
              <tr>
                <td>{{=BEAUTIFY(c.f_titulo)}}</td>
                <td>{{=BEAUTIFY(c.f_universidad)}}</td>
              </tr>
              {{pass}}
            </tbody>
          </table>
        </div>