  <h4 class="titulosForm">Cursos/Eventos de Formación (Máximo 10)</h4>
  <h5>Los campos con * son obligatorios</h5>
                   
  {{ for i in range(1,11): }}
  <div class="evento-container" id="evento-container{{=i}}"
    {{if len(evento_list)<i and 1!=i:}}hidden{{pass}}>
    <div class="form-row">
	  	<div class="col-sm-11">
	  		<h3>Curso {{=i}}</h3>
  		</div>
	</div>

    <div class="form-row">
    	<div class="col-sm-11">
	        <div class="form-group">
	                <label for="evento{{=i}}_categoria">Categoría: *</label>
	                  <select {{if len(evento_list)<i and 1!=i:}} disabled {{pass}}
	                      class="form-control seleccion-competencia" type="select" name="evento{{=i}}_categoria" id="evento{{=i}}_categoria" multiple required
	                      data-placeholder="Seleccione las categorías que apliquen" data-toggle="popover" placeholder="Introduzca el años" data-placement="bottom" data-trigger="manual" data-content="Este campo es requerido"required/>
	                      <option value""> Seleccione al menos una opcion</option>
	                      {{ for comp in competencias: }}
	                        <option 
	                        {{ if i<=len(evento_list):}}
	                        {{= 'selected' if comp in evento_list[i-1].f_categorias else '' }}
	                        {{pass}}
	                      value"{{=comp}}">{{=comp}}</option>
	                      {{pass}}
	                  </select>
	        </div>
	    </div>
    </div>

      <div class="form-row">
        <div class="col-sm-5">
          <div class="form-group">
                  <label for="anio">Año: *</label>
                    <input {{if len(evento_list)<i and 1!=i:}} disabled {{pass}} 
                      value="{{='' if len(evento_list)<i else evento_list[i-1].f_anio}}"
                      type="number" class="evento_anio" name="evento{{=i}}_anio" id="evento{{=i}}_anio" data-toggle="popover" placeholder="Introduzca el años" data-placement="bottom" data-trigger="manual" data-content="Este campo es requerido"required/> 
                       <span class="help-block"></span> 
          </div>
        </div>

        <div class="col-sm-5 offset-sm-1">
            <div class="form-group">
                  <label for="horas">Horas: *</label>
                    <input {{if len(evento_list)<i and 1!=i:}} disabled {{pass}}
                        value="{{='' if len(evento_list)<i else evento_list[i-1].f_horas}}"
                        type="number" class="evento_horas" name="evento{{=i}}_horas" id="evento{{=i}}_horas" data-toggle="popover" data-placement="bottom"
                       data-trigger="manual" placeholder="Introduzca el número de horas" data-content="Este campo es requerido" required/>
                       <span class="help-block"></span>
            </div>
        </div> 
     </div>

      <div class="form-row">
        <div class="col-sm-5 offset-sm-1">
          <div class="form-group">
                <label for="dictadoPor">Dictado por: *</label>
                   <input {{if len(evento_list)<i and 1!=i:}} disabled {{pass}}
                      value="{{='' if len(evento_list)<i else evento_list[i-1].f_dictadoPor}}"
                      type="text" class="evento_dictPor" name="evento{{=i}}_dictadoPor" id="evento{{=i}}_dictadoPor" data-toggle="popover" data-placement="bottom"
                       data-trigger="manual" placeholder="Introduzca el nombre de la persona que dictó el curso" data-content="Este campo es requerido" required/>
                       <span class="help-block"></span>
          </div>
        </div>

        <div class="col-sm-5 offset-sm-1">
          <div class="form-group">
                <label for="formacion">Evento de Formación: *</label>
                    <input {{if len(evento_list)<i and 1!=i:}} disabled {{pass}}
                      value="{{='' if len(evento_list)<i else evento_list[i-1].f_formacion}}"
                      type="text" class="evento_formacion" name="evento{{=i}}_formacion" id="evento{{=i}}_formacion" data-toggle="popover" data-placement="bottom"
                       data-trigger="manual" placeholder="Introduzca el texto" data-content="Este campo es requerido" required/>
                       <span class="help-block"></span>
          </div>
        </div>
      </div>
  </div>
  {{ pass }}
	<div class="form-row">
	  	<div class="col-sm-11">
	  		<a href="#" id="add_field" onclick="add_field()">Agregar Curso</a>
  		</div>
	</div>

  <script charset="utf-8">
    var num = 2
    function add_field(){
      if(num < 11){
        $('#evento-container'+num).show();
        $('#evento'+num+'_categoria').prop('disabled', false).trigger("chosen:updated");
        $('#evento'+num+'_anio').prop('disabled', false);
        $('#evento'+num+'_formacion').prop('disabled', false);
        $('#evento'+num+'_dictadoPor').prop('disabled', false);
        $('#evento'+num+'_horas').prop('disabled', false);
      num = num+1;
      if (num >10){
        $('#add_field').remove();
        }
      }
    }
  </script>
                