<div class="col-sm-11 col11Body">
<h4 class="titulosForm">Proyectos de Investigación (Máximo 10)</h4>
<h5>Los campos con * son obligatorios</h5>
{{ for i in range(1,11): }}
<div class="proyecto-container" id="proyecto-container{{=i}}"{{if len(proy_list)<i:}}hidden{{pass}}>
<h5>Proyecto {{=i}}</h5>
    <div class="form-group">
        <label for="proyecto{{=i}}_categoria">Categoría: *</label>
      <select {{if len(proy_list)<i:}} disabled {{pass}}
             class="form-control seleccion-categoria"
             type="select" name="proyecto{{=i}}_categoria" id="proyecto{{=i}}_categoria"
              data-placeholder="Seleccione la categoría que aplique">
      {{for competencia in competencias:}}
      <option value="{{=competencia}}">{{=competencia}}</option>
    {{pass}}
      </select>
    </div>

    <div class="form-group">
        <label for="fecha inicio">Desde: *</label>
        <input {{if len(proy_list)<i:}} disabled
               {{else:}} value="{{=proy_list[i-1].f_fecha_inicio}}"{{pass}}
               type="text" class="datepicker" name="proyecto{{=i}}_fecha_inicio" id="proyecto{{=i}}_fecha_inicio" placeholder="Introduzca la Fecha de Inicio" required/>
    </div>

    <div class="form-group">
        <label for="fecha fin">Hasta: *</label>
        <input {{if len(proy_list)<i:}} disabled
               {{else:}} value="{{=proy_list[i-1].f_fecha_fin}}"{{pass}}
               type="text" class="datepicker" name="proyecto{{=i}}_fecha_fin" id="proyecto{{=i}}_fecha_fin" placeholder="Introduzca la Fecha de Finalización" required/>
    </div> 

    <div class="form-group">
        <label for="titulo">Titulo: *</label>
        <input {{if len(proy_list)<i:}} disabled
               {{else:}} value="{{=proy_list[i-1].f_titulo}}"{{pass}}
               type="text" class="proyecto_titulo" name="proyecto{{=i}}_titulo" id="proyecto{{=i}}_titulo" placeholder="Introduzca el titulo del Proyecto"/>
    </div>

    <div class="form-group">
        <label for="responsabilidad">Responsabilidad: *</label>
        <input {{if len(proy_list)<i:}} disabled
               {{else:}} value="{{=proy_list[i-1].f_responsabilidad}}"{{pass}}
               type="text" class="proyecto_responsabilidad" name="proyecto{{=i}}_responsabilidad" id="proyecto{{=i}}_responsabilidad" placeholder="Introduzca la Responsabilidad"/>
    </div>    

    <div class="form-group">
        <label for="resultados">Resultados: </label>
        <input {{if len(proy_list)<i:}} disabled
               {{else:}} value="{{=proy_list[i-1].f_resultados}}"{{pass}}
               type="text" class="proyecto_resultados" name="proyecto{{=i}}_resultados" id="proyecto{{=i}}_resultados" placeholder="Introduzca el resultado del Proyecto"/>
    </div>    

    <div class="form-group">
        <label for="institucion">Institución: *</label>
        <input {{if len(proy_list)<i:}} disabled
               {{else:}} value="{{=proy_list[i-1].f_institucion}}"{{pass}}
               type="text" class="proyecto_institucion" name="proyecto{{=i}}_institucion" id="proyecto{{=i}}_institucion" placeholder="Introduzca la Institución"/>
    </div> 
</div>
</div>
{{pass}}
<a href="#" id="add_field_p" onclick="add_field_p()">Agregar Proyecto</a>


<script charset="utf-8">
    var num = 2
    function add_field_p(){
        if(num < 11){
            $('#proyecto-container'+num).show();
            $('#proyecto'+num+'_categoria').prop('disabled', false).trigger("chosen:updated");
            $('#proyecto'+num+'_fecha_inicio').prop('disabled', false);
            $('#proyecto'+num+'_fecha_fin').prop('disabled', false);
            $('#proyecto'+num+'_titulo').prop('disabled', false);
            $('#proyecto'+num+'_responsabilidad').prop('disabled', false);
            $('#proyecto'+num+'_resultados').prop('disabled', false);
            $('#proyecto'+num+'_institucion').prop('disabled', false);
        num = num+1;
        if (num >10){
            $('#add_field_p').remove();
            }
        }
    }
</script>