<h4 class="titulosForm">Docencia - Trabajos Dirigidos (Máximo 5)</h4>

{{ for i in range(1,6): }}
<div class="trabajo-container" id="trabajo-container{{=i}}"{{if len(trabajo_list)<i and 1!=i:}}hidden{{pass}}>
  <h5>Trabajo {{=i}}</h5>
  <div class="col-sm-11 col11Body">

    <div class="form-group">
        <label for="anio">Año:</label>
        <input {{if len(trabajo_list)<i and 1!=i:}} disabled {{pass}}
               value="{{='' if len(trabajo_list)<i else trabajo_list[i-1].f_anio}}"
               type="text" class="trabajo_anio" name="trabajo{{=i}}_anio" id="trabajo{{=i}}_anio" placeholder="Ingrese año del trabajo" required/>
    </div>

    <div class="form-group">
        <label for="titulo_trabajo">Título del trabajo:</label>
        <input {{if len(trabajo_list)<i and 1!=i:}} disabled {{pass}}
               value="{{='' if len(trabajo_list)<i else trabajo_list[i-1].f_titulo_trabajo}}"
               type="text" class="trabajo_titulo_trabajo" name="trabajo{{=i}}_titulo_trabajo" id="trabajo{{=i}}_titulo_trabajo" placeholder="Ingrese titulo del trabajo"/>
    </div>

    <div class="form-group">
        <label for="estudiantes">Estudiantes:</label>
        <input {{if len(trabajo_list)<i and 1!=i:}} disabled {{pass}}
               value="{{='' if len(trabajo_list)<i else trabajo_list[i-1].f_estudiantes}}"
               type="text" class="trabajo_estudiantes" name="trabajo{{=i}}_estudiantes" id="trabajo{{=i}}_estudiantes" placeholder="Ingrese los estudiantes" required/>
    </div>



    <div class="form-group">
        <label for="nivel">Nivel:</label>
      <select {{if len(trabajo_list)<i and 1!=i:}} disabled {{pass}}
             class="form-control seleccion-competencia"
             type="select" name=trabajo{{=i}}_nivel" id="trabajo{{=i}}_nivel"
              data-placeholder="Seleccione nivel de educación">
        <option value""> Seleccione una opcion</option>
        {{ for niv in nivel: }}
        <option
            {{ if len(trabajo_list)>=0:}}
            selected
            {{pass}}
        value"{{=niv}}">{{=niv}}</option>
        {{pass}}
      </select>
    </div>


    <div class="form-group">
        <label for="institucion">Institución:</label>
        <input {{if len(trabajo_list)<i and 1!=i:}} disabled {{pass}}
               value="{{='' if len(trabajo_list)<i else trabajo_list[i-1].f_institucion}}"
               type="text" class="trabajo_institucion" name="trabajo{{=i}}_institucion" id="trabajo{{=i}}_institucion" placeholder="Ingrese nombre de la institución"/>
    </div>

  </div>
</div>

{{ pass }}
<a href="#" id="add_field" onclick="add_field()">Agregar trabajo</a>


<script charset="utf-8">
    var num = 2
    function add_field(){
        if(num < 6){
            $('#trabajo-container'+num).show();
            $('#trabajo'+num+'_nivel').prop('disabled', false).trigger("chosen:updated");
            $('#trabajo'+num+'_anio').prop('disabled', false);
            $('#trabajo'+num+'_titulo_trabajo').prop('disabled', false);
            $('#trabajo'+num+'_estudiantes').prop('disabled', false);
            $('#trabajo'+num+'_institucion').prop('disabled', false);
        num = num+1;
        if (num >5){
            $('#add_field').remove();
            }
        }
    }
</script>