<h4 class="titulosForm">Cursos/Eventos de Formación (Máximo 10)</h4>
<h5>Todos los campos son obligatorios al menos que no aplique</h5>


{{ for i in range(1,11): }}
<div class="curso-container" id="curso-container{{=i}}"{{if len(curso_list)<i and 1!=i:}}hidden{{pass}}>
  <h5>Curso {{=i}}</h5>
  <div class="col-sm-11 col11Body">

    <div class="form-group">
        <label for="categorias">Categoría:</label>
      <select {{if len(comp_list)<i and 1!=i:}} disabled {{pass}}
             class="form-control seleccion-competencia"
             type="select" name=curso{{=i}}_categorias" id="curso{{=i}}_categorias" multiple required
              data-placeholder="Seleccione las categorías que apliquen">
        <option value""> Seleccione una opcion</option>
        {{ for comp in competencias: }}
        <option
            {{ if len(comp_list)>=i and (comp in (comp_list[i-1].f_categorias or ['Arte'])):}}
            selected
            {{pass}}
        value"{{=comp}}">{{=comp}}</option>
        {{pass}}
      </select>
    </div>

    <div class="form-group">
        <label for="anio">Año:</label>
        <input {{if len(curso_list)<i and 1!=i:}} disabled {{pass}}
               value="{{='' if len(curso_list)<i else curso_list[i-1].f_anio}}"
               type="text" class="curso_anio" name="curso{{=i}}_anio" id="curso{{=i}}_anio" placeholder="Año del curso tomado" required/>
    </div>


    <div class="form-group">
        <label for="curso">Curso de Formación:</label>
        <input {{if len(curso_list)<i and 1!=i:}} disabled {{pass}}
               value="{{='' if len(curso_list)<i else curso_list[i-1].f_curso}}"
               type="text" class="curso_curso" name="curso{{=i}}_curso" id="curso{{=i}}_curso" placeholder="Nombre del curso"/>
    </div>


    <div class="form-group">
        <label for="dictado_por">Dictado por:</label>
        <input {{if len(curso_list)<i and 1!=i:}} disabled {{pass}}
               value="{{='' if len(curso_list)<i else curso_list[i-1].f_dictado_por}}"
               type="text" class="curso_dictado_por" name="curso{{=i}}_dictado_por" id="curso{{=i}}_dictado_por" placeholder="Por quien fue dictado" required/>
    </div>

    
    <div class="form-group">
        <label for="horas">Horas:</label>
        <input {{if len(curso_list)<i and 1!=i:}} disabled {{pass}}
               value="{{='' if len(curso_list)<i else curso_list[i-1].f_horas}}"
               type="text" class="curso_horas" name="curso{{=i}}_horas" id="curso{{=i}}_horas" placeholder="Numero de horas"/>
    </div>
  </div>
</div>

{{ pass }}
<a href="#" id="add_field" onclick="add_field()">Agregar curso</a>


<script charset="utf-8">
    var num = 2
    function add_field(){
        if(num < 11){
            $('#curso-container'+num).show();
            $('#curso'+num+'_categoria').prop('disabled', false).trigger("chosen:updated");
            $('#curso'+num+'_nombre').prop('disabled', false);
            $('#curso'+num+'_observaciones').prop('disabled', false);
        num = num+1;
        if (num >10){
            $('#add_field').remove();
            }
        }
    }
</script>