<head> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="reporte_personal.css" >

     <meta charset="UTF-8">
</head>
<body>

  <header >
      <img src="USB-logo.png">
  </header>


      <TABLE BORDER="1"  class="table-bordered" align="center">
	      <TR>
		      <TH ROWSPAN="2">
		      LISTADO DE PERSONAL-ULAB
		      </TH>
		      <TH>
		      Fecha
		      </TH>
	      </TR>
	      <TR>
		      <TD>
		      29/11/2018
		      </TD>
	      </TR>
      </TABLE>

    
 <br>
    <table role="table" class="table-bordered" align="center">
  <thead role="rowgroup">
    <tr role="row">
      <th role="columnheader">Nombre</th>
      <th role="columnheader">Dependencia</th>
      <th role="columnheader">Correo</th>
      <th role="columnheader">Gremio</th>
      <th role="columnheader">Años Serv.</th>
    </tr>
  </thead>
  <tbody role="rowgroup">
    <tr role="row">
      <td role="cell">Carlos Rodriguez Blanco</td>
      <td role="cell">Laboratorio A</td>
      <td role="cell">carlrod@gmail.com</td>
      <td role="cell">Profesor</td>
      <td role="cell">5</td>
    </tr>
    <tr role="row">
      <td role="cell">Frank Zappa</td>
      <td role="cell">Laboratorio B</td>
      <td role="cell">frankzappa@gmail.com</td>
      <td role="cell">Profesor</td>
      <td role="cell">15</td>
    </tr>
    <tr role="row">
      <td role="cell">Frank Ocean</td>
      <td role="cell">Laboratorio C</td>
      <td role="cell">frankocean@gmail.com</td>
      <td role="cell">Profesor</td>
      <td role="cell">10</td>
    </tr>
    <tr role="row">
      <td role="cell">Anderson Paak</td>
      <td role="cell">Laboratorio D</td>
      <td role="cell"> andersonpaak@gmail.com</td>
      <td role="cell">Profesor</td>
      <td role="cell">15</td>
    </tr>
  </tbody>
</table>
</body>
