.table-bordered{
	width: 70%;

}

header{
		text-align:  left;
	margin-bottom: 3%;
	margin-top: 3%;
}
header img{
	width:  20%;
	height: 15%;
	margin-left: 15%;

}
.container{
	width: 70%;
	background-color: #C0C2BF;
	text-align: center;
}

th{
	background-color: #C0C2BF;
	text-align: center;
}

td{
	text-align: center;
}
